---
---

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  line-height: 1.4
}

h1,
h2,
h3,
h4{
  line-height: 1.2;
   a{
    color: #444;
    text-decoration: none;
   }
}

img {
    width: 50vw;
    display: block;
    margin: 0 auto;
    max-width: 650px;
}

@media only screen and (max-width: 650px) {
  img {
    width: 90vw;
  }
}
